li,
ul {
  list-style: none;
  margin: 0;
  padding: 0%;
}
h1 {
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
}

a {
  text-decoration: none;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li:first-letter {
  text-transform: capitalize;
}

.overview {
  margin-bottom: 20px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(0, 0, 0);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  line-height: 1;
}
